@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(39% 0.09 240.876);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(0% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 1.25rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-base-content/10;
  }

  * {
    @apply touch-manipulation;
  }

  html {
    font-family: "Figtree Variable", sans-serif;
  }

  html,
  body {
    @apply h-full;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-sm font-semibold text-base-content/80;
  }

  h1 {
    @apply text-3xl font-bold;
  }
}

@utility container-dotted {
  @apply rounded-field border-2 border-dashed;
}

@utility container-badge {
  @apply -mx-1 inline-flex items-center gap-1 rounded-field bg-base-300 px-2 text-sm font-medium;
}
